In [1]:
import pandas as pd

In [75]:
df=pd.read_csv('Data/survey_results_public.csv')
df.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [88]:
#Count of values for each country
df['Country'].value_counts()

#Filter data using one country name
filt=df['Country']=='United States'
df.loc[filt].head(50)

#Grouping countries
Country_grp=df.groupby(['Country'])
Country_grp.get_group('United States')
df.columns

#Filtering
df.loc[filt,'Ethnicity'].value_counts(normalize=True)

#Country Grouping
#Country_grp['Ethnicity'].value_counts(normalize=True).loc['United States','India'] #some error here

#ConvertedComp grouping
Country_grp['ConvertedComp'].value_counts(normalize=True)
Country_grp['ConvertedComp'].median().loc['United States']
Country_grp['ConvertedComp'].mean().loc['United States']

#using aggregate function with grouping
Country_grp['ConvertedComp'].agg(['mean','median'])

#with language
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').value_counts()

Country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [105]:
#% people who know Python in each country

#Total number of people in each country
Total_resp= df['Country'].value_counts()

# no. of people who know python in each country
python_ppl_by_Country=Country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

#% ppl who know python in each country
perc_python_ppl_by_country=(python_ppl_by_Country/Total_resp)*100

perc_python_ppl_by_country.loc[['United States','India','Canada','Mexico','Japan','China']]

United States    47.830620
India            31.774366
Canada           46.143314
Mexico           33.148148
Japan            44.444444
China            42.587601
dtype: float64

In [158]:
#Find out no. of women who are Data Scientists in each country
#df.head(10)
##df.columns

#df['Gender'].value_counts()

#Group by Country
Country_grp=df.groupby(['Country'])
Country_grp.get_group('United States')
df.columns


#Countries grouped having Data Scientist
DSbycountry= Country_grp['DevType'].apply (lambda x:x.str.contains('Data scientist').sum())

DSbyGender= Country_grp['Gender'].apply (lambda x:x.str.contains('Woman').sum())
DSbyGender

#no. od Data scienties in each country
DSbycountry.nlargest(5)

#Question: How do I get the above 2 inner joined?
#How can I have another column added below which has Gender and shows grouped values

Country
United States     884
India             476
Germany           268
United Kingdom    224
Canada            130
Name: DevType, dtype: int64